{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
      {{ partial "project-title.html" . }}
      </header>
      {{ partial "project-demo.html" . }}
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div>
      <div>
        <h2>Tools</h2>

        {{ $defaultTools := slice "images/tools/unrealengine-original.svg" "images/tools/cplusplus-original.svg"}}
        {{ partial "project-tools.html" (dict "context" . "defaultTools" $defaultTools) }}
        
      </div>
    </article>
  </div>
{{ end }}
